@import url(http://weloveiconfonts.com/api/?family=maki);

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.myChart{
    width: 900px;
    margin: 0 auto; 
    padding: 4%
}

.backgroundIMG{
    background-color: black;
    background:url('../res/aaron-burden-38414.jpg') no-repeat center;
    background-size:cover;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    position: absolute;
    left:12.5%;
    top: 0;
    width:75%;
    height:100%;
    border-radius: 450px;
    margin: 0 auto;
    z-index: -15;
}


body{
  background-color: black;
}




.flexContainer{
  display:flex;
  justify-content:space-around;
  font-family: 'maki', sans-serif;
  color: seashell;

  
}

.item-container{
  text-align:center;
  width:20%;
}

.unit{
  color:#917458
}

.score-container{
  margin: 0 auto;
}

.score-flex{
  display:flex;
  padding:20px;
  padding-top: 40px;
  text-align: center;
}

.mainContainer{
  width:75%;
  margin: 0 auto;
}